body{
    background-color: rgba(71, 245, 109, 0.806);
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
form{
    background-color: rgb(217, 34, 34);
    border-radius: 15px;
    width: 500px;
    align-items: ceter;
    margin: 15px;
}

body form{
    align-items: center;
    justify-content: center;
}
input{
    width: 85%;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
}
button{
    background-color: blue;
    width: 30%;
    font-size: 20px;
    padding: 3px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: white;
}
