body{
    background-color: rgb(217, 36, 36);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.kichwa{
    display: flex;
}

header{
    background-color: blue;
    
}
.imageee{
    width: 10%;
    border-radius: 10px;
    margin: 5px;
    margin-right: 45px;
    
}

.imageee img{
    width: 120px;
    height: 120px;
    border-radius:50% ;
    object-fit: cover;
}
.header-right{
    width: 20px;
    position: absolute;
    right: 120px;
    margin: 5px;


}
.header-right img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}




.mainContainer{
    display: flex;
    height: 500px;
}

.leftpane{
    background-color: rgb(209, 28, 28);
    width: 20%;
}

.leftpane ul{
    list-style: none;
    margin: 5px;
    padding: 10px;
   
}
.leftpane ul li{
    margin: 10px;
    font-size: 30px;
    

}


.rightpane{
    background-color: rgb(127, 199, 247);
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.m1{
    display: flex;
    margin: 5px;
    height: 225px;

}
.dmember{
    width: 50%;
    background-color: white;
    margin: 5px;
    border-radius: 12px;
    
}
.dservice{
    width: 50%;
    background-color: white;
    margin: 5px;
    border-radius: 12px;
}

.m2{
    display: flex;
    margin: 5px;
    height: 225px
}

.ddonation{
    background-color: white;
    width: 50%;
    margin: 5px;
    border-radius: 12px;
}

.dattendence{
    background-color: white;
    width: 50%;
    margin: 5px;
    border-radius: 12px;
    
}

.dannouncement{
    background-color: green;
    margin: 10px;
    width: 98%;
    height: 150px;
    border-radius: 12px;

}


footer{
    background-color: midnightblue;
    display: flex;
    height: 150px;
}

.leftfooter{
    background-color: aqua;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
}
.rightfooter{
    background-color: rgb(236, 129, 129);
    width: 50%;
    margin: 5px;
    border-radius: 10px;
    
}